<div class="contents">

  <form class="login-form" ng-submit="vm.login(credentials)">

    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email" ng-model="credentials.email">
    </div>
    <div class="form-group">
      <label for="Password">パスワード</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password">
    </div>

    <div class="text-align-right">
      <button type="submit" class="btn btn-default">ログイン</button>
    </div>
  </form>

</div>
