html, body {
    margin: 0;
    top: 0;
}


body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #EFEFEF;
}

a {
    color: #00B7FE;
}

h1, h2, h3,
label,
input,
.text-color-sub,
.btn {
    color: #adadad;
}

.text-align-right {
    text-align: right;
}

.contents {
    margin: 80px 0.6em;
}

.page-header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 50px;

    box-shadow: 0 0 5px #008080;
    background-color: #fff;
}
.page-header h1 {
    font-size: 2em;
    margin: 8px 10px;
    font-family: initial;
}

.login-form {
    max-width: 400px;
    margin: 50px auto;
}

.account-box img {
    width: 40px;
    display: block;
}

.add-talk-form {
    margin-bottom: 30px;
}

.talk-list .list-group-item {
    display: flex;
}
.talk-member {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-left: 10px;
}

.talk-detail ul {
    margin: 0;
    padding: 0;
}
.talk-detail li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.talk-detail .account-box {
    flex-basis: auto;
    position: relative;
}
.talk-detail .name {
    position: absolute;
    font-size: 0.9em;
}

.me {
    justify-content: flex-end;
    align-items: flex-end;
}
.me .account-box {
    order: 2;
}
.me .name {
    display: none;
}
.me .message {
    order: 1;
    margin: 1.4em 0.8em 0.8em 0;
}

.message {
    background: white;
    margin: 1.4em 0 0.8em 0.8em;
    padding: 0.8em;
    border-radius: 0.6em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.message p {
    margin: 0 0 0.2rem 0;

}
.message .created-at {
  font-size: 0.7rem;
}

.other .account-box:after {
  content: "";
  position: absolute;
  top: 1.8em;
  right: -1em;
  width: 0;
  height: 0;
  border: 6px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.me .account-box:after {
  content: "";
  position: absolute;
  bottom: 1.2em;
  left: -1em;
  width: 0;
  height: 0;
  border: 6px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0 2px 0 rgba(150, 150, 150, 0.2);
}

@media screen and (min-width: 480px) {
    .contents {
        margin: 80px 1em;
    }
}

@media screen and (min-width: 640px) {
    .contents {
        margin: 80px 2em;
    }
}