<div class="contents">
  <form class="add-talk-form input-group">
    <input class="form-control" name="talk-name" type="text" value="" placeholder="作成するトークの名前"/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">作成</button>
    </span>
  </form>
  <div class="talk-list" ng-repeat="talk in vm.talks">
    <div class="list-group">
      <a href="#/talks/{{talk.id}}" class="list-group-item">
        <div class="account-box">
          <img class="img-circle" alt="" ng-src={{talk.img}} />
        </div>
        <div class="talk-member">{{talk.members.join(', ')}}</div>
      </a>
    </div>
  </div>
</div>
