<div class="contents">
  <div class="talk-detail">
    <ul class="list-2group" ng-repeat="message in vm.messages">
      <li ng-class="message.account.name == 'mid0111' ? 'me' : 'other'">
        <div class="account-box">
          <img class="img-circle" alt="" ng-src={{message.account.img}}/>
        </div>
        <div class="name text-color-sub">{{message.account.name}}</div>
        <div class="message">
          <p>{{message.text}}</p>
          <div class="created-at text-color-sub">{{message.createdAt}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
